@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?6py85u');
  src:  url('fonts/icomoon.eot?6py85u#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?6py85u') format('truetype'),
    url('fonts/icomoon.woff?6py85u') format('woff'),
    url('fonts/icomoon.svg?6py85u#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e98a";
}
.icon-arrow-down3:before {
  content: "\e0c5";
}
.icon-globe-outline:before {
  content: "\e9df";
}